:root {
    --gradient: linear-gradient(
        65deg,
        #d1bd94,
        #8a9e61,
        #70adc2,
        #bb909e,
        #9e90bb
    );
}

html {
    width: 100%;
    min-height: 100vh;
}

body {
    color: linen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background-color: lightpink;
    position: absolute;
    width: 100%;
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

p {
    margin: auto;
}

a, a:visited {
    font-size: 0.6em;
    color: mediumpurple;
}

li {
    list-style-type: none;
    border: 2px solid black;
    padding: 3%;
    margin: 1%;
    font-size: 0.7em;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
}

.content p {
    margin-bottom: 15px;
}

.window {
    border: 2px solid black;
    background-color: #282828;
}

.toolbar {
    padding: 5px;
    background: black;
    z-index: 1;
}

.toolbar p {
    color: white;
    font-size: 11px;
}

.toolbar:after {
    content: "";
    display: table;
    clear: both;
}

.small {
    height: 10%;
    width: 210px;
}

.medium {
    font-size: 0.9em;
    position: absolute;
    width: 90%;
    height: 340px;
    overflow: hidden;
    margin: -5% 0% 0% -3%;
}

.big {
    width: 80%;
    height: 390px;
    position: absolute;
    z-index: -1;
    margin-top: 85%;
}

.corner {
    position: absolute;
    transform: translate(20%, 250%);
    width: 350px;
    height: 150px;
    z-index: 1;
}

.picture {
    position: absolute;
    transform: translate(130%, 100%);
    width: 290px;
    height: 320px;
}

.column {
    float: left;
}

.left {
    margin-top: 4px;
    width: 80%;
}

.right {
    width: 20%;
}

.dot {
    margin-left: 3px;
    height: 10px;
    width: 10px;
    float: right;
}

.typeText::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.yellow {
    color: #ffcc66;
}

.pink {
    color: palevioletred;
}

.purple {
    color: mediumpurple;
}

.green {
    color: #99cc33;
}

.blue {
    color: #33ccff;
}

.repo-container {
    overflow: scroll;
    max-height: 350px;
    display: flex;
    scrollbar-color: #33ccff #333333;
}

.col-left {
    width: 30%;
    position: sticky;
    top: 0;
    height: 300px;
}

.col-right {
    width: 70%;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.clock span {
    font-size: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.clock span::after {
    font-size: 10px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#hours::after {
    content: "HOUR";
}

#mins::after {
    content: "MIN";
}

#secs:after {
    content: "SEC";
}

@media only screen and (max-width: 610px) {
    .corner, .picture, .col-left {
        display: none;
    }

    .col-right {
        width: 100%;
    }

    #repos {
        margin: 0;
        padding: 0;
    }
}  


@media only screen and (min-width: 610px) {
    h2 {
        font-size: 1em;
    }

    li {
        font-size: 0.9em;
    }

    a, a:visited {
        font-size: 0.8em;
    }

    .corner, .picture {
        display: none;
    }

    .medium {
        transform: translate(15%, 7%);
        width: 80%;
        height: 265px;
    }

    .big {
        margin-top: 35%;
        margin-left: 0;
        width: 95%;
    }
  }

@media only screen and (min-width: 850px) and (max-width: 992px) {
    body {
        background-size: 500% 500%;
    }

    .big {
        margin-top: 30%;
    }
}
 
 @media only screen and (min-width: 992px) {
    li {
        padding: 5px;
    }

    .medium {
        transform: translate(20%, 11%);
        width: 60%;
    }

    .big {
        transform: translate(7%, -30%);
        width: 85%; 
    }

    .col-left {
        width: 20%;
    }
}

@media only screen and (min-width: 1320px) {
    h2 {
        font-size: 1.3em;
    }

    .medium {
        transform: translate(20%, 25%);
        width: 40%;
    }

    .big {
        margin-top: 0;
        transform: translate(85%, -7.5%);
        width: 50%;
        height: 750px;
    }

    .repo-container {
        max-height: 700px;
    }

    .col-left {
        width: 30%;
    }

    .corner, .picture {
        display: block;
    }
}
